FieldType    1      // 1: Linear  2: Quadratic
MeshType     4      // 3: Triangle  4: Quadrilateral
TriGauss1    3      // Primary Gauss points; possible value( 1,3,7)
TriGauss2    3      // Secondary Gauss points..
QuadGauss    4      // Secondary Gauss points..
AbsJacobian  0      // Should we use absolute Jacobian
ShapeFunc    0      // 0: Classical 1: Mixed  2: BaryCentric
ElemOrder    1      // 1: Linear 2: Quadratic
RandomTangle 0      // 0: No  1: Yes
CheckTangle  0      // 0: No  1: Yes


